/* Dropdown container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown button style */
.dropdown-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Dropdown menu style */
.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-top: none;
  display: none;
}

/* Menu item style */
.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

/* Show the dropdown menu when button is clicked */
.dropdown-container:hover .dropdown-menu {
  display: block;
}
/* Card.css */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
  background-color: #fff;}
  .card-container{
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content:space-around; /* Distribute space between cards */
  

}

.card img {
  max-width: 50%;
}

.card-title {
  font-size: 1.5rem;
  margin: 0;
}

.card-text {
  margin-top: 10px;
}
